<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Otp-Verification</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
     
    <div class="d-flex justify-content-center align-items-center continer">
      <div class="card py-5 px-3">
        <h5 class="m-0">Verify your Gmail</h5>
        <span class="mobile-text"
          ><b>Enter the code we just sent on your registered email adrress: <%=email%></b>
          <b class="text-color"></b>
        </span>
        <div class="d-flex flex-row mt-5">
          <input type="text" class="form-control" autofocus="" />
          <input type="text" class="form-control" />
          <input type="text" class="form-control" />
          <input type="text" class="form-control" />
        </div>
        <div class="text-center mt-5">
          <span class="d-block mobile-text" id="countdown"></span>
          <span class="d-block mobile-text" id="resend"></span>
        </div>
        <button type="submit" class="btn-login" onclick="location.href='#'">Verify</button>
      </div>
    </div>
    
  </body>
</html>

<style>
    body {
  background: #3b4465;
  
}
.text-color {
  color: #999;
}
.card {
  width: 350px;
  padding: 10px;
  border-radius: 20px;
  background: #d7e7f1;
  border: none;
  position: relative;
}
.container {
  height: 100vh;
}
.mobile-text {
  color: #cd5c5c;
  font-size: 15px;
}
.form-control {
  margin-right: 12px;
}
.form-control:focus {
  color: #999;
  background-color: #d4efdf;
  border-color: #c0392b;
  outline: 0;
  box-shadow: none;
}
.cursor {
  cursor: pointer;
}
.btn-login {
	color: #fbfdff;
	background: #a7e245;

}

</style>
<script>
    let timerOn = true;
function timer(remaining) {
  var m = Math.floor(remaining / 60);
  var s = remaining % 60;
  m = m < 10 ? "0" + m : m;
  s = s < 10 ? "0" + s : s;
  document.getElementById("countdown").innerHTML = `Time left: ${m} : ${s}`;
  remaining -= 1;
  if (remaining >= 0 && timerOn) {
    setTimeout(function () {
      timer(remaining);
    }, 1000);
    document.getElementById("resend").innerHTML = `
    `;
    return;
  }
  if (!timerOn) {
    return;
  }
  document.getElementById("resend").innerHTML = `Don't receive the code? 
  <span class="font-weight-bold text-color cursor" onclick="timer(60)">Resend
  </span>`;
}
timer(60);

</script>